<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
      href="../css/gtvg.css" th:href="@{/css/custom.css}" />
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Play a game</h1>

        <div class="btn-group" role="group">
            <table>
                <tr th:each="line : ${Grille}">
                    <td th:each="cell : ${line.getLine()}" th:classappend="${cell.value} > 0 ? black : (${cell.value} < 0 ? white : '')" onclick="play(${cell.line}, ${cell.column});"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/logic.js}"></script>
</html>